{{!-- <img src="{{imgSrc}}"> --}}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .center {
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="center">
        <fieldset>
            <h3>Profile Page</h3>
            <form>

                <table>
                    <tr>
                        <td> Name: </td>
                        <td> {{user.name }} </td>
                    </tr>
                    <tr>
                        <td> Mobile: </td>
                        <td> {{user.mobile }} </td>
                    </tr>
                    <tr>
                        <td> Email: </td>
                        <td> {{user.email }} </td>
                    </tr>
                    <tr>
                        <td> Address: </td>
                        <td> {{user.address }} </td>
                    </tr>
                </table>
            </form>
        </fieldset>
        <a href="/user/edit">Update profile</a>
    </div>
</body>

</html>